@page "/"
@using Volo.Abp.MultiTenancy
@inherits GuiComponentBase
@inject ICurrentTenant CurrentTenant
@inject AuthenticationStateProvider AuthenticationStateProvider
<div class="container">

    <div class="p-5 text-center" style="margin-top: 100px">

        <h1>@L["Welcome"]</h1>

        <p class="lead px-lg-5 mx-lg-5">@L["LongWelcomeMessage"]</p>
    </div>
    
</div>
